
{{ ptype }}

{{#each}}
    <li>
        <a href="#">
            <div class="description">
                <p class="title">{{title}}</p>
                <p class="name">{{name}}</p>
            </div>
        </a>
    </li>
{{/each}}

{{pagination-pager count=15 current=2 itmCtr='pagination' postType=ptype}}