
<p>© YGP &amp; AIN 2014</p>
<!--
    <div class="uk-panel uk-panel-box uk-text-center">
        <p><strong>Phasellus viverra nulla ut metus.</strong> Quisque rutrum etiam ultricies nisi vel augue. <a class="uk-button uk-button-primary uk-margin-left" href="#">Button</a></p>
    </div>
-->

