<ul class="pagination">
    {{#if previousPage}}
        <li>
            {{#link-to 'index' (query-params page=previousPage)}}&laquo;{{/link-to}}
        </li>
    {{else}}
        <li><span>&laquo;</span></li>
    {{/if}}
    {{#each paginationItems}}
        <li {{bind-attr class="isActive:active"}}>
            {{#link-to 'index' (query-params page=this.page)}}{{this.page}}{{/link-to}}
        </li>
    {{/each}}
    {{#if nextPage}}
        <li>
            {{#link-to 'index' (query-params page=nextPage)}}&raquo;{{/link-to}}
        </li>
    {{else}}
        <li><span>&raquo;</span></li>
    {{/if}}
</ul>