
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid">
      <div class="uk-width-medium-1-1">
    <!-- Fixed navbar -->
    {{ partial "partial/header" }}
  		</div>
    </div>
    <div class="uk-grid">
      <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box">
			    {{outlet}}
        </div>
  		</div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
          <div class="uk-panel uk-panel-box">
            {{ partial "partial/footer" }}
          </div>
        </div>
    </div>

</div>
