<h3>This is Posts template page.</h3>

{{#each paginatedContent}}
    <li>
        <a href="#">
            <div class="cover-holder">
            </div>
            <div class="description">
                <p class="name">{{title}}</p>
                <p class="price">{{price}}€</p>
            </div>
        </a>
    </li>
{{/each}}

